body{
    /*display: block;*/
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
#container{
    width: 1100px;
    height: auto;
}

#menu ul li {
    display: inline-block;
    list-style-type: none;
    width: 100px;
}
#menu  ul li a{
    text-decoration: none;
}
#menu {
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    /*float: right;*/
}
#menu{
    background: darkcyan;
    height: 80px;
}
#content{
    background: darkgray;
    height: 500px;
}
#footer {
    background: coral;
    height: 50px;
}
