
.tab-content #requirement li {
    display: list-item;
}

.tab-content .ulparent {
    margin-left: 3em;
    font-size: 1.1em;
}

.tab-content .ulchild {
    margin-left: 1.5em;
    font-size: 1.1em;
}

.tab-content img {
    width: 80%;
}

.tab-content .fas {
    font-size: 2.5em;
    margin-left: 2em;
}

.correct {
    margin-left: 2em;
}

.content_footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.fab {
    margin-left: 0.5em;
}

.add-form {
    color: #007aff;
}

input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.id {
    margin-right: 4em;
}

.name {
    margin-right: 2.35em;
}

.credit {
    margin-right: 1.25em;
}

.teacher {
    margin-right: 1em;
}

.quantily {
    margin-right: 0.7em;
}

.classroom {
    margin-right: 0.1em;
}

.subject {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-btn {
    display: flex;
    justify-content: center;
}

.content-form {
    width: 50%;
    border: 2px solid #6c757d;
    padding: 3em;
}
.tab-content #requirementweek2 li {
    display: list-item;
}
.pro{
    margin-left: 4em;
    font-size: 1.5em;
}
.row{
    margin-top: 4em;
}
.content_footer{
    font-size: 0.7em;
    padding-top: 0.5em;
}
.container-fluid .f_size{
    font-size: 0.7em;
}
.profile{
    width: 80%;
}
.content{
    position: relative;
}
.se{
    position: relative;
    left: 10%;
}
footer{
    background-color: #292929;
}
.heading{
    margin-top: 0;
    margin-bottom: 0;
}
.bton{
    border: 1px solid;
    padding: 10px;
    background: #e89f19;
}
.dow{
    display: flex;
    justify-content: center;
}
.content-form, .bound,.design_giay{
    margin-top: 3em;
}
