
.tab-content #requirement li {
    display: list-item;
}

.tab-content .ulparent {
    margin-left: 3em;
    font-size: 1.3em;
}

.tab-content .ulchild {
    margin-left: 1.5em;
    font-size: 1.1em;
}

.tab-content img {
    width: 80%;
}

.correct {
    margin-left: 2em;
}

.content_footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.fab {
    margin-left: 0.5em;
}

.add-form {
    color: #007aff;
}

input[type=text] {
    width: 55%;
    padding: 5px 20px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.id {
    margin-left: -2em;
    margin-right: 6em;
}

.name {
    margin-left: -2.2em;
    margin-right: 4.35em;
}

.credit {
    margin-left: -2.2em;
    margin-right: 3.85em;
}

.teacher {
    margin-left: -2.1em;
    margin-right: 3.4em;
}

.number {
    margin-left: -1.8em;
    margin-right: 3.3em;
}

.classroom {
    margin-left: -2.3em;
    margin-right: 2.5em;
}

.subject {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 7px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-btn {
    display: flex;
    justify-content: center;
}

.form-btn .bt-add {
    margin-right: 2em;
}

.content-form {
    border: 2px solid #6c757d;
    width: 90%;
}

.tab-content #requirementweek2 li {
    display: list-item;
}

.pro {
    margin-left: 4em;
    font-size: 1.5em;
}

.row {
    margin-top: 4em;
}

.content_footer {
    font-size: 0.7em;
    padding-top: 0.5em;
}

.container-fluid .f_size {
    font-size: 0.7em;
}

.profile {
    width: 80%;
}

.content {
    position: relative;
}

.se {
    position: relative;
    left: 10%;
}

footer {
    background-color: #292929;
}

.heading {
    margin-top: 0;
    margin-bottom: 0;
}

.bton {
    border: 1px solid;
    padding: 10px;
    background: #e89f19;
}

.dow {
    display: flex;
    justify-content: center;
}

.content-form, .bound, .design_giay {
    margin-top: 3em;
}

.add {
    width: 50%;
}

.content-design-1 {
    display: flex;
}

.add_child, .del_child {
    position: relative;
}

.icon-add, .icon-edit {
    position: absolute;
    top: 50%;
    left: 85%;
}

.design_cotent {
    display: flex;
    justify-content: space-between;
}

.with_form {
    width: 48%;
}

.search {
    width: 30% !important;
}

.design-search {
    display: flex;
    justify-content: flex-end;
}

.bt {
    display: flex;
    justify-content: flex-end;
}

.bt-dete {
    margin-right: 2em;
    padding: 0.5em;
    border: 1px solid;
    border-radius: 7px;
    background-color: #3da730
}

.bt-dete-all {
    padding: 0.5em;
    border: 1px solid;
    border-radius: 7px;
    background-color: #3da730
}

.menu .header {
    display: flex;
    justify-content: center;
}

.contact {
    width: 90%;
    border: 2px solid;
    padding: 1.5em;
}

.del_child {
    position: relative;
}

.icon-sea-del {
    position: absolute;
    top: 50%;
    left: 85%;
}

.design-giay-2 {
    width: 45%;
}

.content-2 {
    display: flex;
    justify-content: center;
    position: relative;
}

.icon-dk {
    position: absolute;
    top: 50%;
    left: 68%;
}

.content-figma {
    display: flex;
    justify-content: center;
    position: relative;
}

.icon-fgm-dk {
    position: absolute;
    top: 50%;
    left: 67%;
}

.icon-fgm-dk-2 {
    position: absolute;
    top: 50%;
    left: 74%;
}

.dowload {
    border: 1px solid;
    background: #fb9905;
    padding: 5px 15px;
    border-radius: 5px;
}

.img-head {
    margin-left: 3em;
}

